*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(209, 111, 111);
    /* background: rgb(2,0,36); */
/* background: linear-gradient(164deg, rgba(2,0,36,1) 0%, rgba(9,121,73,1) 35%, rgba(0,212,255,1) 100%); */
    position: relative;
}
.instructions{
    /* border: 1px solid black; */
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    width: 0px;
    height: 0px;
    margin-right: 50px;
    /* background-color: white; */
    background: transparent;
}
.active-rule .instructions{
    height: 500px;
    width: 400px;
    background-color: rgb(43, 42, 42);
}
.active-result .result{
    height: 500px;
    width: 400px;
    background-color: rgb(43, 42, 42);
}
.container{
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    width: 400px;
    height: 500px;
    background-color: rgb(43, 42, 42);
    /* background-color: white; */
}
.result{
    border-radius: 10px;
    box-shadow: 0 0 10px 0 black;
    width: 0px;
    height: 0px;
    margin-left: 50px;
    /* background-color: rgb(43, 42, 42); */
    background: transparent;
    /* visibility: visible; */
}
.header{
    /* border: 1px solid black; */
    text-align: center;
    font-size: 1.4rem;
    margin-top: 16px;
    color: rgb(166, 84, 243);
    display: flex;
}
.menu {
    display: inline-block;
    cursor: pointer;
    margin:2px 60px 0 22px;
}
  
.bar1, .bar2, .bar3 {
width: 30px;
height: 5px;
background-color:white;
margin: 4px 0;
transition: 0.4s;
}

.change .bar1 {
transform: translate(0, 7px) rotate(-45deg);
}

.change .bar2 {opacity: 0;}

.change .bar3 {
transform: translate(0, -11px) rotate(45deg);
  }
.image{
    /* border: 1px solid green ; */
    height: 150px;
    width: 150px;
    margin: 23px 123px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}
.button{
    /* border: 1px solid red; */
    height: 40px;
    width: 94px;
    margin: 23px 149px;
}
#names{
    font-size: 30px;
    color: white;
    text-align: center;
    visibility: hidden;
}
#playBtn{
    font-size: 1.5rem;
    background-color: rgb(166, 84, 243);
    color: white;
    height: 44px;
    width: 86px;
    padding: 5px;
    border-radius: 10px;
    border: none;
}
#playBtn:hover,#submitBtn:hover{
    background-color: rgb(123, 58, 184);
    cursor: pointer;
}
.form{
    /* border: 1px solid blue; */
    display: inline;
    margin: 20px;
}
#userSequence{
    height: 50px;
    width: 361px;
    padding: 8px;
    /* margin-left: 5px; */
    font-size: 15px;
    border-radius: 20px;
    outline: none;
    border:1px solid rgb(179, 179, 179);
}
#submitBtn{
    display: inline;
    font-size: 1.5rem;
    background-color: rgb(166, 84, 243);
    color: white;
    height: 44px;
    width: 86px;
    margin: 19px 148px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
.score{
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0,7,14);
    /* border-radius:0px 0px 10px 10px; */
}
#scoreText{
    font-size: 22px;
    padding: 5px;
    color: white
}
#detailBtn{
    font-size: 1.5rem;
    background-color: rgb(243, 84, 84);
    color: white;
    height: 44px;
    width: 86px;
    border-radius: 5px;
    border: none;
    text-align: center;
}
#detailBtn:hover{
    background-color: rgb(195, 91, 91);
    cursor: pointer;
}
#restartBtn{
    font-size: 1.5rem;
    background-color: rgb(243, 84, 84);
    color: white;
    height: 44px;
    width: 86px;
    margin: 19px 148px;
    border-radius: 10px;
    border: none;
    text-align: center;
}
#restartBtn:hover{
    background-color: rgb(195, 91, 91);
    cursor: pointer;
}
